@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Markazi+Text:wght@400..700&family=Noto+Sans+TC:wght@100..900&display=swap');

*{
}
body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
   width: 100vw;
  height: 100vh;
}

#bg{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
 background-image: url('../bg.jpg');
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;

}

.wrapper{
  box-shadow: 8px 0 14px -1px #888;
  width: fit-content;
    backdrop-filter: blur(8px);
}
h1{
  font-family:"Baumans", system-ui;
  font-size: 3.2rem;
}
.page{
  font-family:"Noto Sans TC", sans-serif;
    position: relative;
    top: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    width: 65ch;
    max-width: 90vw;
    min-width: 400px;
    flex-wrap:wrap;
    padding-inline: 20px;
    padding-right: 12vw;
    align-items: center;
    display: flex;
    font-size: 15px;
  }

.page > *{
  display: block;
  width: 100%;
}
p::first-letter {
  font-size: 2.5rem;
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
}
#side{
  background-color: red;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 40vw;
  height: 100%;
}

